mixin about()
	section#about.about-section
		.container
			.about-card
				header.about-card__header
					h2 About JHL
				.about-card__info
					p Founded in 1999, JHL Consulting provides technical risk management, technical security assessments,cyber security product management, and evangalism. We aim to quickly identify and communicate technical risk to management without getting embroiled in the details that often surrounds complex distributed systems. We serve finance, pharma, telecommunication, and aviation, among other industries.  Specializing in the analysis of clouds (SaaS, PaaS, IaaS)across a variety of virtualization technologies(from bare metal and virtual servers,to containers) and also public, private cloud providers. 
					blockquote
						p As systems become more inticrate, distributed, and complex, the need for technical audits grows.  Proactively identifying and addressing technical risk is the key to successful system operations.
