mixin about()
	section#about.about-section
		.container
			.about-card
				header.about-card__header
					h2 About JHL
				.about-card__info
					p Founded in 1999, JHL Consulting provides technical risk management, technical security assessment, and cyber security product management and evangalism. We aim quickly identify and communicate technical risk to management without getting embroiled in the details that often surround complex distributed systems. Specializing in the analysis of cloud systems (SaaS, PaaS, IaaS) across the vast variety virtualization technologies, from bare metal, virtual servers, and containers across a number of industries including finance, pharma, telecommunications, and aviation.
					blockquote
						p As systems become more integrate, distributed, and complex, the need for technical audit grows.  Proactively identifying and addressing technical risk is the key to successful system operations.
looking to reduce their technical risk, we perform holistic and/or compliance driven technical risk assessments with follow-ups required until issues are resolved. 
