mixin about()
	section#about.about-section
		.container
			.about-card
				header.about-card__header
					h2 About JHL
					h4 Curabitur accumsan nulla ut velit facilisis
				.about-card__info
					p Founded in 1999, JHL Consulting provides its clients 
					blockquote
						p As systems become more integrate, distributed, and complex, the need for technical audit grows.  Proactively identifying and addressing technical risk is the key to successful system operations.
					p Nunc non venenatis odio. Nullam id neque et lectus suscipit mattis ac a ante. Suspendisse potenti. Aliquam in nulla sem. Vivamus sodales malesuada leo, sit amet cursus nunc vulputate aliquet. Proin porttitor ex facilisis aliquam efficitur. Vestibulum scelerisque nisl ac ex rutrum, quis aliquet nibh ultrices.
