mixin services()
	section#services.common-section
		.container
			header.common-section__header
				h2 Services
			.grid-container
				ul.services.services_advisory
					li.services__item.icon.icon_research
						h4 Vendor Risk Management
						p When third parties manage critical data or business processes, a Vendor Risk Management Program can mitigate these risks through a policy and procedure gap assessment.  We handle the assessment, the communication of risk, and the tracking of remediation efforts.
					li.services__item.icon.icon_strategy
						h4 Software Risk Assessment
						p For customer developed software, a Software Risk Assessment can identify technical, architectural, and procedural risks in the development program. This assessment includes interviews with key members of the development team as well as reviews of critical source code sections.
					li.services__item.icon.icon_improve
						h4 Cloud Migration Security Analysis
						p Looking to move systems into the cloud or virtual space? A Cloud Migration Security Analysis proactively identifies and addresses risks that come into play with such a transition.
				ul.services.services_pm
					li.services__item.icon.icon_plan
						h4 Privacy Risk Assessment
						p When acting as a custodian of personally identifiable or sensitive personal information, it is crucial to implement and maintain proper controls to protect this information. This assessment identifies and recommend how best to correct any security shortcomings.
					li.services__item.icon.icon_recover
						h4 External Audit Management
						p External, customer driven audits can be a burden on internal resources (staff who are often unfamiliar with the audit process). By utilizing our services, audits run more smoothly and internal resources remain focused.
					li.services__item.icon.icon_support
						h4 Security Product Consult
						p  Developing a Cloud Security Service or Product? We can assist by providing guidance through trials, customer outreach, and product evangalism designed to improve the appeal and outreach of your product.

