mixin testimonials()
	section#testimonials.common-section
		.container
			header.common-section__header
				h2 Presentations
				p Aenean sagittis, turpis ac fermentum elementum, lorem urna lobortis eros, nec ultrices sem tortor sit amet elit
			.grid-container
				ul.testimonials
					li.testimonials__item
						img(src="static/images/logos/placeholder.png" alt="Lorem ipsum dolor sit amet")
						blockquote
							p.icon.icon_ql Historically, implementing network security controls within a virtualized cloud environment have been difficult to implement requiring tricky networking and hypervisor integration. Advancements in software-defined networking (SDN) now allow virtualized security controls to be implemented within virtual layer 2 (media link) network reducing the complexity. Through the use of SDN defined service chains, network traffic can be required to flow through security controls allowing policy to be implemented within the virtual network itself. This presentation illustrates how common security functions (such as Snort) can be virtualized and injected within layer 2 of a virtual network without requiring any layer 3 (IP) networking changes.

							cite
								span.name AppSec California 2018
								span.role  OWASP
					li.testimonials__item
						img(src="static/images/logos/placeholder.png" alt="Lorem ipsum dolor sit amet")
						blockquote
							p.icon.icon_ql Advancements in software-defined networking (SDN) allow virtualized security controls within a virtual layer 2 (media link) network. A service chain defines what controls traffic must pass through before being delivered to the service. For example, a web service would have a service chain requiring the traffic pass through a DDoS filter, WAF, load balancing, and IDS/IPS before being delivered to the web server. Historically this has been done at layer 3 (IP), requiring IP address changes as chain components are added or removed. Implementing this within a virtual network at layer 2, chains can be dynamically updated without requiring any IP changes. Implementing these chains within layer 2 reduces complexity and network overhead.
							cite
								span.name Build Better Defences
								span.role  O'Reilly Security

					li.testimonials__item
						img(src="static/images/logos/placeholder.png" alt="Lorem ipsum dolor sit amet")
						blockquote
							p.icon.icon_ql In imperdiet odio metus, at ultricies tellus posuere at.
							cite
								span.name Desmond Eagle,
								span.role  CompanyName
				ul.testimonials
					li.testimonials__item
						img(src="static/images/logos/placeholder.png" alt="Lorem ipsum dolor sit amet")
						blockquote
							p.icon.icon_ql Fusce aliquam lorem in ligula maximus, et fermentum velit ultricies. Sed quis pretium metus. Donec convallis pretium erat in varius. Sed ullamcorper, lacus vel euismod euismod, justo nibh tristique urna, ac sollicitudin nunc elit eget sem.
							cite
								span.name Benjamin Evalent,
								span.role  CompanyName
					li.testimonials__item
						img(src="static/images/logos/placeholder.png" alt="Lorem ipsum dolor sit amet")
						blockquote
							p.icon.icon_ql Nam vehicula ex vel justo suscipit feugiat. Praesent libero augue, consequat in blandit vel, blandit ac tortor. Sed quis pellentesque augue. Sed suscipit erat justo, quis maximus augue porttitor ut. Aliquam erat volutpat. Ut in leo risus. Nam pulvinar felis sit amet mi blandit, nec euismod augue tristique. Nulla at vestibulum massa.
							cite
								span.name Jake Weary,
								span.role  CompanyName

					li.testimonials__item
						img(src="static/images/logos/placeholder.png" alt="Lorem ipsum dolor sit amet")
						blockquote
							p.icon.icon_ql In imperdiet odio metus, at ultricies tellus posuere at. Sed tempor ipsum a rhoncus tempor. Praesent orci massa, congue ut sapien ac, commodo lobortis massa. Nam ultricies hendrerit arcu, quis lacinia metus dictum eget. Praesent eu nisi sapien. Proin posuere nec lacus vitae vehicula. Curabitur accumsan nulla ut velit facilisis, eu ultricies ligula tristique
							cite
								span.name Alan Fresco,
								span.role  CompanyName
